[submodule "chebfun"]
	path = chebfun
	url = https://github.com/chebfun/chebfun.git
[submodule "TT-Toolbox"]
	path = TT-Toolbox
	url = https://github.com/oseledets/TT-Toolbox.git
[submodule "sglib"]
	path = sglib
	url = https://github.com/ezander/sglib.git
